{% extends 'layout.html.twig' %}
{% block title %}Inscription
	{{ parent() }}
{% endblock %}
{% block content %}
	<body>
		<link href="assets/styles/main.css" rel="stylesheet" type="text/css"/>
		<header>
			<div class="header">
				<div>
					<?xml version="1.0" encoding="UTF-8"?>
					<svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 248">
					<defs>
						<style>
						svg {
							width:20%;
						}
						.cls-1 {
							fill: #fefffe;
						}

						.cls-1, .cls-2 {
							stroke-width: 0px;
						}

						.cls-2 {
							fill: #101a31;
						}
						</style>
					</defs>
					<circle class="cls-2" cx="124" cy="124" r="124"/>
					<path class="cls-1" d="m96,46h21.68l-10.84,58.78s-5.84,22.22,14.16,23.22c0,0,19,3,26-15l10-46h-24s6.37-21,22.18-21h27.64l-11.83,62s-4,22-34,47l-46-10s-7-17-7-23c0,0-3-20,12-76Z"/>
					<polygon class="cls-1" points="93 156 104 187 128 164 93 156"/>
					<path class="cls-1" d="m111,202s6,31,30,10c0,0,42-45,59-50,0,0,22-8,39,12l-3,6s-21-23-44-6c0,0-25,21-31,29,0,0-25,32-46,23,0,0-13-4-12-23,0,0,3-7,8-1Z"/>
					</svg>
					<h1>Loufok</h1>
				</div>
				<p>Créez, inspirez, délirez</p>
			</div>
		</header>
		<section>
            <h2> Inscription </h2>
			<form action="/inscription" method="POST">
                    <label for="nomPlume">Nom Plume:</label>
                    <input type="text" name="nomPlume" required>

                    <label for="email">Adresse e-mail:</label>
                    <input type="email" name="email" required>

                    <label for="sexe">Sexe:</label>
                    <select name="sexe">
                        <option value="homme">Homme</option>
                        <option value="femme">Femme</option>
                        <option value="">Ne se prononce pas</option>
                    </select>

                    <label for="ddn">Date de naissance:</label>
                    <input type="date" name="ddn" required>

                    <label for="motDePasse">Mot de passe:</label>
                    <input type="password" name="motDePasse" required>

				<button type="submit" class="disabled" id="btnValider"> Créer un compte </button>
			</form>
		</section>
	</body>
	{% block scripts %}
	    <script>
    	</script>
{% endblock %} {% endblock %}
