@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Proza+Libre:wght@700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --dark: #101a31;
  --green: #a4fa82;
  --unactive: #eeeff2;
  --grey: #a6adbe;
  --white: #fefffe;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Proza Libre", sans-serif;
  color: var(--dark);
}

p {
  text-align: justify;
}

p,
label,
a {
  font-family: "Arvo", serif;
  color: var(--dark);
}

::placeholder {
  font-family: "Arvo", serif;
  color: var(--grey);
}

hr {
  width: 100vw;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--white);
}

i {
  display: block;
  width: 20px;
  height: 20px;
}

.button__disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--unactive);
  color: var(--grey);
}
.button__validate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--green);
  color: var(--dark);
}
.disconnect {
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
/* ========================= DEBUT DU CSS PAR PAGE ========================= */

/* =========== SECTION 1 : LOGIN + INSCRIPTION =========== */

.header {
  margin-top: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: space-evenly;
  margin: 0rem 4rem;
}

.section {
  margin: 2rem;
}
.section__h2 {
  text-align: center;
  font-weight: 700;
}
.section__form {
  display: flex;
  flex-direction: column;
}

.section__form input {
  margin: 1rem 0rem 2rem 0rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px var(--grey) solid;
}
.section__form input::placeholder {
  color: var(--grey) !important;
}
.section__form input:focus {
  border-color: var(--green);
}
.section__a {
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px var(--grey) solid;
  display: block;
  margin-top: 2rem;
}

/* =========== SECTION 2 : PAGE ADMIN =========== */
.admin > .header {
  margin-top: 1rem;
}
.admin .header__logo {
  margin: 0;
  justify-content: space-around;
}
.admin .header__logo > svg {
  width: 15%;
}
.admin .header__logo span {
  font-size: 2rem;
}
.currentCadavre__title {
  text-align: center;
}
.currentCadavre__div--title {
  margin: 0px;
  text-align: end;
}
.currentCadavre__div--p {
  margin: 0px;
  text-align: justify;
}
.currentCadavre__div {
  padding: 0.5rem;
}
.section__link--a {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--green);
  font-weight: 600;
  display: block;
  font-size: 0.9rem;
}
.cadavres {
  margin: 0rem 2rem;
}
.cadavres__pres {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cadavres__pres--a {
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--green);
  font-weight: 600;
  display: block;
}
/* CALENDRIER */
#calendar {
  margin: 1rem 0rem;
}
.fc .fc-toolbar {
  align-items: end;
}
.fc-toolbar-title {
  text-transform: capitalize;
  font-size: 1.5rem !important;
}
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: var(--dark);
}
.fc .fc-daygrid-day-number {
  color: var(--dark);
}
.creaCadavre {
  width: 100vw;
  padding: 1rem;
}
.creaCadavre__h3 {
  margin: 0px;
  text-align: center;
}
.form__date {
  display: flex;
  justify-content: space-around;
}
.form__date--debut,
.form__date--fin {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.form__date--debut label,
.form__date--fin label {
  color: var(--grey);
  text-align: center;
}
.form__date--debut input,
.form__date--fin input {
  margin: 0.2rem 0 2rem;
}
.section__form textarea {
  margin: 1rem 0 0;
  padding: 1rem;
  border-radius: 2rem 2rem 0rem 2rem;
  height: 10rem;
}
#compteur {
  text-align: end;
}

/* =========== SECTION 2 : PAGE JOUEUR =========== */
.lastcadavre {
  margin: 1rem;
}
.lastcadavre__title {
  text-align: center;
  margin-bottom: 3rem;
}
.lastcadavre__p {
  text-align: justify;
}
.lastcadavre__writers {
  margin-top: 3rem;
  font-size: 0.9rem;
  font-style: italic;
  text-align: start;
}
.contribution {
  position: relative;
  margin: 2rem 2rem;
}
.contribution__msg {
  position: absolute;
  top: -2.5rem;
  color: rgb(249, 85, 85);
  font-weight: 700;
}
.contribution__title {
  text-align: center;
  font-weight: 700;
}
.contribution__all-div__firstspan,
.contribution__all-div__secondspan {
  height: 0.05rem;
  width: 100%;
  background-color: var(--dark);
  margin: 0.5rem 0rem;
}
.contribution__all-div__lastspan {
  height: 0.05rem;
  width: 40%;
  background-color: var(--dark);
  margin: 0.5rem 0rem;
}
.contribution__all--div {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px var(--grey) solid;
  margin: 1rem 0rem;
}
.contribution__all--div h4,
.contribution__all--div p {
  margin: 0.5rem 0rem;
}
.material-icons {
  text-align: end;
}
.contribution__div--title {
  margin: 0;
}
.contribution__div--txt {
  margin-bottom: 0;
  border-top: 1px solid var(--grey);
  padding-top: 1rem;
  width: 100%;
}
.contribution .section__form textarea {
  margin-bottom: 2rem;
}
.num__contribution {
  font-weight: 800;
}
.input-group {
  display: flex;

  align-items: center;
}

input {
  margin-right: 5px;
}
